[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

#map {
    height: 500px;
    width: 1000px;
}

.entity-count-container {
    padding: 10px;
}

.entity-count {
    padding: 0 10px;
}